


#georgeface:hover{
    height:  15ms;
    animation: spin 3s infinite linear;
    transition: ease-in 0.5;
}

@keyframes spin{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}