p{
    color: crimson;
}
body {
    background-color: yellow;
}
.copyright{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}   
div{
display: flex;
}
a:hover {
    transition: ease, 2s;
    background-color: whitesmoke;
    color: black;
}
li:first-child{
    font-style: italic;
}