p {
    color: crimson;
}
body {
    background-color: yellow;
}
.information{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    background-color: yellow;
  }
  
a:hover {
    transition: ease-in, 3s;
    background-color: black;
    color: whitesmoke;
}
#yellow{
    color: black;
}
#yellow:hover{
    transition: none;
    background-color:burlywood;
    color: yellow;
}
.flex{
    display: flex;
    align-items: center;
}